body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#register {
    display: none;
}


.account {
    width: 20%;
    min-width: 250px;
    border: 2px solid;
    box-shadow: 0px 0px 10px;
    padding: 10px;
}

.account > h2 {
    margin: 0px;
    padding: 3px;

    text-align: center;
}

.account > form {
    display: flex;
    flex-direction: column;
}

.account > form > label {
    margin: 5px 0px;
    font-weight: bold;
}

.account > form > input {
    border-radius: 10px;
    margin: 5px 0px;
}

.account > form > button {
    border-radius: 10px;
    margin: 5px 0px;
    width: fit-content;
    padding: 4px;
}